.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #323238;
}

.header span{
    font-weight: bold;
    font-size: 1.5rem;
}

.header nav a{
    color: #e1e1e6;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.2s;
}
.header nav a:hover{
    color: #00875f;
}