:root{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #121214;
  color: #ffff;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}